body {
    background: whitesmoke;
    font-family: nunito;
}

.page-title {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 25px;
}

.all-content {
    padding: 30px 30px 30px 30px;
}

.create-playlist {
    padding: 30px 30px 0px 350px;
}

.display-genres {
    padding: 20px 20px 20px 40px;
}
